<!DOCTYPE html>
<html>
	<head>
		<title>UKM</title>
		<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript">
			$(function() {
				// Tabs
				$('#tabs').tabs();
				
				// Accordion
				$("#accordion").accordion({ header: "h3" });
			});
		</script>
	</head>
	<body>
		<h1 align="center">Unit Kegiatan Mahasiswa</h1>
		<h2 align="center">Universitas Pelita Harapan Surabaya</h2>
		<!-- Tabs -->
		<div id="tabs">
			<ul align="center">
				<li><a href="#tabs-1">Overview</a></li>
				<li><a href="#tabs-2">History</a></li>
				<li><a href="#tabs-3">UKM Team</a></li>
			</ul>
			<div id="tabs-1">UKM yang ada di Universitas Pelita Harapan Surabaya ada 10 Unit Kegaitan
			Mahasiswa, antara lain : 
			<li>UKM Paduan Suara</li>
			<li>UKM Modern Dance</li>
			<li>UKM Teater</li>
			<li>UKM Badminton</li>
			<li>UKM Tenis Meja</li>
			<li>UKM Basket</li>
			<li>UKM Futsal</li>
			<li>UKM Band</li>
			<li>UKM Fotografi</li>
			<li>UKM Jurnalistik</li>
			</div>
			<div id="tabs-2">Unit Kegiatan Mahasiswa di UPH Surabaya, awalnya dimulai 
			dengan pembukaan UKM-UKM yang disesuaikan dengan UPH Jakarta, tetapi dengan 
			menyesuaikan tempat yang ada di UPH sendiri, maka hanya UKM-UKM tertentu yang
			dibuat sendiri.
			Dengan pengarahan langsung dari Manager Student Service maka UKM UPH Surabaya,
			perlahan sudah mulai terbentuk dengan tiap UKM memiliki Ketua UKM sendiri.
			Setiap UKM yang sudah terbentuk harus mendaftarkan Nama UKM beserta Ketua UKM.
			Sampai sekarang 10 UKM yang sudah ada, tetap aktif dalam kegiatannya.
			</div>
			<div id="tabs-3">Ketua sekaligus Anggota UKM, selalu berperan aktif dalam setiap kegiatan yang dilakukan,
			baik itu mengikuti lomba yang diakan oleh kampus lain, ukm ini juga turut serta dalam acara-acara
			yang diadakan oleh UPH sendiri, sehingga UPH dapat bangga dengan UKM yang dimilikinya.
			Kekerabatan dan Kekompakkan antar tim sangat dekat dan baik, sehingga dalam mengisi suatu acara tertentu,
			pastinya terlebih dahulu melakukan pemanasan maupun keserasian dalam berlatih.
			</div>
		</div>
		
		<h2>The Best UKM in UPH Surabaya</h2>
		
		<div id="accordion">
			<div>
				<h3><a href="#">Choir</a></h3>
				<div>UPH Surabaya Choir is the first Ukm has been succesfully</div>
			</div>
			<div>
				<h3><a href="#">Modern Dance</a></h3>
				<div>UPH Surabaya Modern Dance is the Second Ukm has been succesfully</div>
			</div>
			<div>
				<h3><a href="#">Futsal</a></h3>
				<div>UPH Surabaya Futsal is the Third Ukm has been succesfully</div>
			</div>
		</div>
	</body>
</html>